body{
    position: relative;
}
nav{
    -webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
}
.btn{
    -webkit-box-shadow: 3px 4px 8px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 4px 8px -2px rgba(0,0,0,0.75);
    box-shadow: 3px 4px 8px -2px rgba(0,0,0,0.75);
}
.nav-item a {
    font-size: .8rem;
}
.nav-item .btn{
    z-index: 1000;
}
a.nav-link:hover{
    color:#ff9b61 !important; 
}
.navbar-toggler{
    background-color: rgb(212, 212, 212);
}
.navbar-toggler:hover{
    background-color: rgb(139, 139, 139);
}
.primary-button {
    background-color: #ff5f00;
    border: 1px solid #ff5f00;
}
.primary-button:hover {
    background-color: #d64f00;
    border: 1px solid #d64f00;
}
.banner-section{
    background-image: url('../images/Life\ Skills\ in\ Nigeria_Edusko_1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height:80vh;
}
.bg-orange{
    background-color: #ff8036;
}
.overlay-dark{
    background-color: rgba(0, 0, 0, 0.623);
    height:100%;
}
.overlay-light{
    background-color:rgba(255, 255, 255, 0.4);
    height: 100%;
} 

.overlay{
    background-color:rgba(29, 29, 29, 0.568);
    height: 100%;
}