body{
    width: 100%;
    overflow-x: hidden;
}
.nav-item a {
    font-size: .8rem;
}
.nav-item .btn{
    z-index: 1000;
}
a.nav-link:hover{
    color:#ff9b61 !important; 
}
.primary-button {
    background-color: #ff5f00;
    border: 1px solid #ff5f00;
    z-index: 500 !important;
}
.primary-button:hover {
    background-color: #d64f00;
    border: 1px solid #d64f00;
}
.banner-section{
    background-image: url('../images/Life\ Skills\ in\ Nigeria_Edusko_1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height:80vh;
}
.overlay{
    background-color:rgba(15, 15, 15, 0.712);
    height: 100%;
}
.what-we-do{
    background-color: rgba(29, 89, 255, 0.945);
    position: relative;
    bottom: 60px;
}
.how-it-works{
    background-color: rgb(190, 190, 190);
}
.bg-orange{
    background-color: #ff5f00;
}
.border-orange{
    border: 1px solid #ff5f00;
}
.bg-blue{
    background-color: rgba(29, 89, 255, 0.945);
}
.how-it-works-arrow{
    position: relative;
    left: 4rem;
    top: 4rem;
    z-index: 100 !important;
}
.why-trust-us{
    /* background-image: url('../images/Life\ Skills\ in\ Nigeria_Edusko_222.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; */
} 
.overlay-dark{
    background-color: rgba(0, 0, 0, 0.623);
    height:100%;
}
.overlay-light{
    background-color:rgba(255, 255, 255, 0.4);
    height: 100%;
}